<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title th:text="${title}"></title>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-primary bg-opacity-75">
            <div class="container">
                <a class="navbar-brand text-white" th:href="@{/index}">RR-HH App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" th:href="@{/index}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" th:href="@{/create}">Add</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <button class="nav-link text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name"></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <form id="logoutForm" th:action="@{/logout}" method="POST">
                                        <button type="submit" class="dropdown-item" onclick="document.getElementById('logoutForm').submit();">Log Out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <footer th:fragment="footer" class="container">
        <p sec:authorize="isAuthenticated()" class="my-3">Usuario logged: <span sec:authentication="name"></span></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>